.wrapperBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding: 10px;
}

.activeBtnTodo {
    border: 1px solid var(--text-color-red);
    border-radius: 5px;
}