.formToDo {
    border: 1px solid var(--bg-color);
    border-bottom: 1px solid var(--border-color);
}

.formToDo:focus-within {
    border: 1px solid var(--text-color-red);
}

.postToDo {
    padding: 15px;
    border: none;
    background-color: inherit;
    width: 80%;
}

.postToDo:focus {
    outline: none;
    background-color: inherit;
}

.postToDo:-webkit-autofill,
.postToDo:-webkit-autofill:focus,
.postToDo:-webkit-autofill:hover {
    box-shadow: 0 0 0 1000px var(--bg-color, #fff) inset !important;
}

/* Firefox (новый стандартный селектор) */
.postToDo:autofill,
.postToDo:autofill:focus,
.postToDo:autofill:hover {
    background-color: var(--bg-color, #fff) !important;
}