.listLi {
    padding: 10px 15px;
    border: 1px solid var(--bg-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.listLiFocus {
    border: 1px solid var(--text-color-red);
}

.listLi__content {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    width: 100%;
}

.doneTodo {
    color: rgb(164, 162, 162);
}

.circleToDo {
    width: 25px;
    height: 25px;
    border: 1px solid var(--border-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconEdit {
    fill: var(--border-color);
    transition: .4s ease;
}

.listLi__iconEdit {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.listLi__iconEdit:hover .iconEdit {
    fill: var(--text-color);
}

.editToDO {
    width: 100%;
}

.hiddenEdit {
    display: none;
}

.showEdit {
    display: flex;
}

.formEdit {
    border: 1px solid var(--bg-color);
}

.editToDO__input {
    padding-left: 15px;
    border: none;
    background-color: var(--bg-color);
    width: 90%;
}

.editToDO__input:focus {
    outline: none;
    background-color: inherit;
    background-color: var(--bg-color);
}

.hidden {
    visibility: hidden;
}

.editToDO__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.editToDO__CircleWpap {
    display: flex;
    align-items: center;
    width: 80%;
}

.editToDO__CircleToDo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}